.dashboard-wrapper {
  display: flex;
}

.main-layout {
  flex: 1;
  margin-left: 270px; /* Bechi maydkholch f west el sidebar */
  background-color: #f7fafc;
  min-height: 90vh;
}

.page-content {
  padding: 70px 30px 30px 30px; /* padding lfo9 bech mayjich taht el header */
}